<div class="d-inline-block">
  <span [innerHTML]="thaiExplanation.inlineBlock"></span>
  <span class="position-absolute float float-bottom">
    {{thaiExplanation.floatBottom.join('')}}
  </span>
  <span class="position-absolute float float-top">
    {{thaiExplanation.floatTop.join('')}}
  </span>
  <span class="position-absolute float float-top-right">
    {{thaiExplanation.floatTopRight.join('')}}
  </span>
  <span class="position-absolute float float-bottom-right">
    {{thaiExplanation.floatBottomRight.join('')}}
  </span>
</div>
