* {
  touch-action: manipulation;
}

.btn.keyboard-btn {
  padding: 0;
  width: 7%;
  height: 2em;
  position: relative;
  touch-action: manipulation;
}

.suggestion-controller {
  bottom: 0;
  z-index: 2000;
}

.suggestion-controller .btn {
  width: 8vw;
}

.suggestion-controller-left {
  left: 0;
}

.suggestion-controller-right {
  right: 0;
}

@media (max-width: 575.98px) {
  .btn.keyboard-btn span {
    font-size: 0.8em;
  }
}


@media (min-width: 992px) {
  .btn.keyboard-btn {
    height: 4em;
  }
}
