<div class="container position-relative">
  <div *ngFor="let row of layoutRows; let index = index;" class="row my-1">
    <div class="container" [style.padding-left]="row.left" style="justify-content: center;">
      <button *ngIf="index == 3"  type="button"
        class="btn keyboard-btn btn-outline-secondary" [class.active]="currentKey == 'LeftShift' || leftShift"
        (click)="leftShift = !leftShift; emit('', false);"
        style="margin-right: 1%; width: 12%;">↑</button>
      <pimlanna-keyboard-button *ngFor="let keyButton of row.keys"
        [leftShift]="leftShift" [rightShift]="rightShift"
        [keyButton]="keyButton"
        (interact)="emit($event);"></pimlanna-keyboard-button>
      <button *ngIf="index == 0"  type="button"
        class="btn keyboard-btn btn-outline-secondary" [class.active]="currentKey == 'Backspace'"
        (click)="emit('Backspace');"
        style="width: 8%;">←</button>
      <button *ngIf="index == 2"  type="button"
        class="btn keyboard-btn btn-outline-secondary" [class.active]="currentKey == 'Enter'"
        (click)="emit('\n');"
        style="margin-left: 1%; width: 10%;">↲</button>
      <button *ngIf="index == 3"  type="button"
        class="btn keyboard-btn" [class.active]="currentKey == 'RightShift'"
        [class.btn-outline-secondary]="rightShift == 0"
        [class.btn-danger]="rightShift > 0"
        (click)="emit('RightShift')"
        style="margin-left: 1%; width: 10%;">{{rightShift > 0 ? rightShift : '※'}}</button>
    </div>
  </div>
  <div class="row my-1">
    <div class="container">
      <button type="button" class="btn keyboard-btn btn-outline-secondary" [class.active]="currentKey == ' '"
        (click)="emit(' ');"
        style="margin-left: 25%; width: 45%;">&nbsp;</button>
      <button type="button" class="btn keyboard-btn btn-outline-secondary"
        (click)="emit(choeng);"
        [class.active]="currentKey == 'RightAlt'">{{choeng}}</button>
    </div>
  </div>
</div>
<div class="position-absolute suggestion-controller suggestion-controller-left bg-light" *ngIf="suggested">
  <button type="button" class="btn keyboard-btn btn-outline-primary"
    (click)="emit('SuggestionPrevious');">
    ≪
  </button>
  <button type="button" class="btn keyboard-btn btn-outline-danger"
    (click)="emit('SuggestionReject');">
    ×
  </button>
</div>
<div class="position-absolute suggestion-controller suggestion-controller-right bg-light" *ngIf="suggested">
  <button type="button" class="btn keyboard-btn btn-outline-success"
    (click)="emit('SuggestionTake');">
    ✓
  </button>
  <button type="button" class="btn keyboard-btn btn-outline-primary"
    (click)="emit('SuggestionNext');">
    ≫
  </button>
</div>
