.textarea {
  height: 20vh;
  resize: none;
}

.rshift-indicator {
  position: absolute;
  font-size: 0.6em;
  bottom: 0;
  right: 12px;
}

.keyboard {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid #e5e5e5;
}
