<div class="row">
  <div class="container position-relative">
    <span class="badge bg-danger rshift-indicator" *ngIf="rShift">{{rShift}}</span>
    <textarea #textarea
      (keydown)="keyDown($event);" (keypress)="keyPress($event);" (keyup)="keyUp($event);"
      class="textarea form-control"></textarea>
    </div>
</div>
<div class="row">
  <div class="container">
    <pimlanna-suggestion [position]="suggestionPosition" [text]="suggestionInput" [$textarea]="textarea"
      (applied)="clearSuggestionInput();"></pimlanna-suggestion>
  </div>
</div>
