<div class="row">
  <div class="container position-relative">
    <div class="form-check form-switch d-inline-block">
      <input class="form-check-input" type="checkbox" id="suggestions" [(ngModel)]="options.suggestions">
      <label class="form-check-label" for="suggestions">ᨲ᩠ᩅᩫᨩ᩠ᩅ᩠᩵ᨿᨻᩥᨾᩛ᩺</label>
    </div>
    <div class="form-check form-switch d-inline-block ms-3">
      <input class="form-check-input" type="checkbox" id="virtualKeyboard" [(ngModel)]="options.virtualKeyboard">
      <label class="form-check-label" for="virtualKeyboard">ᨸᩯ᩠᩶ᨶᨷᩫ᩠ᨶᨧᩬᩴ</label>
    </div>
    <div class="form-check form-switch d-inline-block ms-3">
      <input class="form-check-input" type="checkbox" id="thaiExplanation" [(ngModel)]="options.mobile">
      <label class="form-check-label" for="thaiExplanation">ᨾᩨᨳᩨ</label>
    </div>
    <span class="badge bg-danger rshift-indicator" *ngIf="rShift">{{rShift}}</span>
    <textarea #textarea [class.bg-light]="!dark" [class.text-dark]="!dark"
      [class.bg-secondary]="dark" [class.text-light]="dark"
      (keydown)="keyDown($event);" (keypress)="keyPress($event);" (keyup)="keyUp($event);"
      class="textarea form-control" [readonly]="options.mobile"></textarea>
    </div>
</div>
<pimlanna-suggestion *ngIf="options.suggestions" [position]="suggestionPosition" [text]="suggestionInput" [$textarea]="textarea"
  (applied)="clearSuggestionInput();"></pimlanna-suggestion>
<div *ngIf="options.virtualKeyboard" class="keyboard position-absolute" [class.bg-light]="!dark" [class.bg-dark]="dark">
  <pimlanna-keyboard [rightShift]="rShift" [suggested]="suggested" [suggestionSelected]="suggestionSelected"
    (interact)="virtualKeyboardInteracted($event);"></pimlanna-keyboard>
</div>
